.HeaderMainButtons {
  display: flex;
  gap: 0.5rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: calc(-1 * (var(--header-services-gap) / 2));
    top: 50%;
    transform: translateY(-50%);
    height: 70%;
    width: 1px;
    background: var(--border-color-default);
  }
}

.ThemeSwitcher {
  width: calc(var(--header-height) - 2 * var(--header-padding-top) - 1px);
}

.OpenSidebarButton {
  align-items: flex-start;
  display: flex;
}
