.app_dark_theme {
  --bg-color-black: #010409;
  --overlay-bg-color: #151b23;
  --bg-color-default: #0d1117;
  --overlay-color: #21283066;
  --bg-color-selected: #656c761a;

  --button-bg-light: #212830;
  --primary-color: #fff;
  --color-gray: #9198a1;
  --bg-color-transparent: #656c7633;
}
